<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet"/>
    <title>Tal's DevOps Test - Location</title>
</head>
<body>
    <h1>Location Details</h1>
    <p><strong>IP Address:</strong> {{ ip_address }}</p>
    <p><strong>Country:</strong> {{ country }}</p>
    <p><strong>City:</strong> {{ city }}</p>
    <p><strong>Coordinates:</strong> {{ coordinates }}</p>
</body>
</html>
